<div class="max-w-md mx-auto md:mx-auto md:h-96  sm:max-w-fit bg-white p-6 rounded-lg shadow-md md:border-t-1 md:border-t-blue-700 mt-2 md:mt-5">
  <%= form_with model: @property, local: true do |form| %>
    <% if @property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
        <ul>
          <% @property.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="md:mt-14 sm:flex-none md:flex md:flex-row md:flex-wrap gap-6 ">
      <div class="field mb-3">
        <%= form.text_field :title, placeholder: "Title", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
      <div class="field mb-3">
        <%= form.text_area :description, placeholder: "Describe your property here", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
      <div class="field mb-3">
        <%= form.number_field :price, step: 1000, placeholder: "Price", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
      <div class="field mb-3">
        <%= form.text_field :location, placeholder:"Location", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
      <div class="flex flex-col field mb-3">
        <%= form.select :property_type, ['Apartment', 'House', 'Condo', 'Townhouse', 'Studio'], {}, placeholder:"Property type", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
      <div class="flex flex-col field mb-3 ">
        <%= form.label :images, class:"pb-1 md:pb-2"%>
        <%= form.file_field :images, multiple: true, direct_upload: true, placeholder:"add images", class:"border solid border-blue-400 p-3 rounded-sm bg-light" %>
      </div>
    </div>
    <div class="actions w-36 md:w-40 mt-4 py-2 md:py-2 border solid  rounded-md bg-blue-700 text-white text-center">
      <%= form.submit %>
    </div>
  <% end %>
</div>
