<div class="mb-14">
  <div class="flex flex-col justify-center rounded-b-3xl bg-gradient-to-r  from-orange-100 via-slate-200 to-sky-100  sm:bg-cover  h-[400px] md:h-[600px]  md:px-60">
    <div class="lg:mx-auto lg:w-[800px] lg:text-center">
      <h1 class=" pt-10 font-semibold text-2xl sm:font-bold md:text-3xl lg:text-5xl mx-4 text-blue-700 text-pretty leading-relaxed">Maskani helps you <span class="text-orange-500">Find</span> Your Next Home Right From Your Gadget !</h1>
      <p class="py-3 sm:py-4 lg:py-2 text-pretty mx-4 opacity-50 leading-loose">House hunting doesn't have to be stressful. Discover, compare, and secure your next home anytime, anywhere - all from the comfort of your seat.</p>
    </div>
    <div class=" w-50 mx-4 sm:mx-auto mt-4 inline-flex items-center px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition cursor-pointer">
      <%= link_to "Get Started", properties_path, class:"mr-1 ml-6" %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
      </svg>
    </div>
  </div>
  <div class="flex flex-col sm:px-60">
    <div class="flex flex-col lg:flex-row mt-14 md:mt-18 lg:mt-26 mb-4">
      <div>
        <h2 class="pt-4 md:pt-10 font-semibold text-center md:text-start text-2xl sm:font-bold md:text-3xl lg:text-5xl mx-4"> House Hunting Made <span class="text-blue-500">Easy</span> </h2>
      </div>
      <div class="border border-neutral-300 py-1 md:py-2 px-7 inline-flex justify-between bg-gradient-to-r  from-orange-100 via-slate-200 to-sky-100 w-40 mx-auto lg:ml-[610px] lg:h-10 mt-2 lg:mt-14 rounded-full transition cursor-pointer">
        <h3 class="text-orange-500 font-semibold">Featured</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-bounce">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
        </svg>
      </div>
    </div>
    <div>
      <p class="py-2 md:py-4 text-center md:text-start mx-4 opacity-50 pb-8 leading-loose"> Browse a wide range of houses for rent or sale, explore different locations, and expand your options with just a few taps. No endless calls. No unnecessary visits.</p>
    </div>
    <div class="flex gap-4 md:gap-8 lg:gap-10 flex-wrap lg:flex-nowrap justify-center md:mx-4">
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "landing_home.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500 ">Nyali</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50 leading-relaxed"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl  shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_4.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Bamburi</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50 leading-relaxed"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_6.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Mvita</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50 leading-relaxed"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_8.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Buxton</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50 leading-relaxed"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
    </div>
    <div class="lg:px-3 justify-center lg:justify-start lg:mx-4 mt-10 inline-flex items-center text-2xl font-semibold text-blue-500 hover:text-orange-500 transition cursor-pointer">
      <span>See More</span>
    </div>
  </div>
  <div class="mt-14 pb-10 md:mt-18 lg:mt-26 lg-w[1000px] md:mx-20 bg-gradient-to-r from-orange-100 via-slate-200 to-orange-100 border-neutral-200 shadow-xl rounded-e-3xl">
    <h1 class="text-2xl md:text-3xl lg:text-5xl font-semibold text-blue-500 text-center  py-4 md:py-5 lg:py-6 lg:pt-10">What <span class="text-orange-500">we Offer</span></h1>
    <div>
      <div class="flex gap-8 md:gap-10 lg:gap-12 flex-wrap justify-center lg:justify-center px-5 lg:px-20 py-8 lg:py-10 lg:pb-16 ">
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 mx-auto m-3  fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
            <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Tenants</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-loose ">
            View a variety of properties, compare options, and make informed decisions that fit your budget and lifestyle. Reach out to landlords, schedule viewings, and move one step closer to your next home.
          </p>
          <div class="mt-3  px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">View properties</li>
              <li class="custom-check">Make inquiries direct to owners</li>
              <li class="custom-check">Schedule viewing</li>
            </ul>
          </div>
        </div>
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 m-3 mx-auto fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M15.22 6.268a.75.75 0 0 1 .968-.431l5.942 2.28a.75.75 0 0 1 .431.97l-2.28 5.94a.75.75 0 1 1-1.4-.537l1.63-4.251-1.086.484a11.2 11.2 0 0 0-5.45 5.173.75.75 0 0 1-1.199.19L9 12.312l-6.22 6.22a.75.75 0 0 1-1.06-1.061l6.75-6.75a.75.75 0 0 1 1.06 0l3.606 3.606a12.695 12.695 0 0 1 5.68-4.974l1.086-.483-4.251-1.632a.75.75 0 0 1-.432-.97Z" clip-rule="evenodd" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Landlords</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-loose">
            List your house on our platform and reach serious tenants and buyers actively looking for their next home. Stay in control. Manage your listings, track interest, and update availability, all in one place.
          </p>
          <div class="mt-3 px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">List your properties</li>
              <li class="custom-check">Reach serious tenants/buyers</li>
              <li class="custom-check">Manage your listings</li>
            </ul>
          </div>
        </div>
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 m-3 mx-auto fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" />
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Investors</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-loose">
            Reach out directly to landlords, property developers, shedule viewings, and move one step closer to your next home. Browse a wide range of houses and explore different locations all in one place.
          </p>
          <div class="mt-3 px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">View many properties</li>
              <li class="custom-check">Make inquiries direct to owners</li>
              <li class="custom-check">Schedule viewing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex items-center w-60 mx-auto mt-4 px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition cursor-pointer">
        <span class="mr-1 ml-6">Create Account</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
        </svg>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 justify-center lg:gap-52">
    <%= image_tag "keys_blury.jpg", class:"w-[400px] lg:w-[500px] h-[300px] mt-14 lg:mt-52  bg-cover rounded-4xl shadow-5xl "%>
    <div class="flex flex-col w-[400px] h-[400px] lg:w-[550px]  pt-6 lg:mt-34 ">
      <div class="flex flex-row gap-10">
        <div class="border border-orange-500 py-2 px-5 rounded-2xl">
          <h3>VIEW PROPERTIES</h3>
        </div>
        <div class="border border-blue-500 py-2 px-5 rounded-2xl">
          <h3>CREATE ACCOUNT</h3>
        </div>
      </div>
      <div >
        <h2 class="text-2xl md:text-3xl lg:text-5xl font-semibold  py-4 md:py-5 lg:py-4">Finding a Home Should
          be
          <span class="text-orange-500">Stress</span>-<span class="text-blue-500">FREE</span></h2>
        <p class="text-justify leading-loose opacity-60 pb-3 ">
          Join Maskani and experience a smarter way to house hunting. Whether you’re a tenant, landlord, or investor, Baiti helps you discover, list, and manage properties with ease—saving you time, reducing stress, and putting everything you need in one trusted platform.
        </p>
        <p class="text-blue-500 pt-4">View gallery</p>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:mx-20 lg:px-45 mt-14 lg:mt-32 mb-20 pb-8 lg:pb-12 bg-gradient-to-tr from-slate-100 via-orange-100 to-sky-100  rounded-t-3xl rounded-b-3xl">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold mx-6 pt-8 lg:pt-12">Simplified House <span class="text-blue-500">Hunting</span></h2>
  <p class="opacity-60 mx-6 py-6 md:py-8">With our platform you are able to find your next dream home in these <span class="opacity-100 font-semibold">four simple steps</span></p>
  <div class="inline-flex flex-wrap gap-y-8 gap-x-12 mx-6">
    <div class="border border-neutral-400 rounded-2xl shadow-xl shadow-blue-200 h-40 w-50 py-10 lg:py-14 lg:w-72 lg:h-50">
      <svg class="w-8 md:w-12 mx-auto m-3 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="size-6 md:size-8 mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
      <h2 class="text-center pt-1 lg:pt-3 text-orange-500">Search/List a property</h2>
    </div>
    <div class="border border-neutral-400 rounded-2xl shadow-xl shadow-blue-200  h-40 w-50 py-10 lg:py-14 lg:w-72 lg:h-50">
      <svg class="w-8 md:w-12 mx-auto m-3  " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="size-6 md:size-8 mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
      <h2 class="text-center pt-1 lg:pt-3 text-orange-500">View photos and other details</h2>
    </div>
    <div class="border border-neutral-400 rounded-2xl shadow-xl shadow-blue-200  h-40 w-50 py-10  lg:py-14 lg:w-72 lg:h-50">
      <svg class="w-8 md:w-12 mx-auto m-3 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="size-6 md:size-8 mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <h2 class="text-center pt-1 lg:pt-3 text-orange-500">Contact Landlord</h2>
    </div>
    <div class="border border-neutral-400 rounded-2xl shadow-xl shadow-blue-200  h-40 w-50 py-10 lg:py-14 lg:w-72 lg:h-50">
      <svg  class="w-10 md:w-12 mx-auto m-4 " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 122.88 70.36"  stroke-width="1.5" stroke="blue" class="size-50 md:size-150 mx-auto">
        <g><path stroke-linecap="round" stroke-linejoin="round" d="M97.85,14.17c-0.02,0.19-0.08,0.37-0.17,0.55c-0.1,0.42-0.15,0.9-0.15,1.43c0,0.05,0.01,0.1,0.01,0.15v34.74 c0.44,1.09,0.98,1.91,1.63,2.42c0.6,0.48,1.34,0.71,2.24,0.67c0.06-0.01,0.13-0.01,0.19-0.01h9.96v0c0.02,0,0.05,0,0.08,0 c1.55,0.08,2.67-0.34,3.42-1.2c0.85-0.98,1.34-2.55,1.51-4.66l0,0l0-0.03l3.03-31.34c0-0.05,0-0.1,0.01-0.15 c0.21-1.78-0.18-2.94-1.06-3.62c-1.01-0.78-2.68-1.1-4.85-1.1c-0.05,0-0.1,0.01-0.15,0.01h-11.22v-0.01 c-1.71,0-2.97,0.34-3.74,1.04C98.27,13.35,98.03,13.72,97.85,14.17L97.85,14.17z M86.87,52.6c-0.24-0.23-0.41-0.53-0.48-0.86 l-16-28.8c-1.78-2.97-3.38-3.04-4.93-2.12c-1.1,0.65-2.26,1.71-3.42,2.77c-0.7,0.64-1.4,1.28-1.99,1.77l-2.75,2.27l0,0l-0.02,0.01 c-2,1.61-4.26,2.48-6.4,2.65c-1.41,0.12-2.77-0.06-4.01-0.53c-1.27-0.48-2.39-1.25-3.23-2.3c-0.91-1.13-1.51-2.57-1.65-4.27l0.01,0 c-0.03-0.41,0.09-0.82,0.37-1.16l8.74-10.4c-1.84-0.03-3.47,0.22-5,0.7c-2.33,0.73-4.51,1.99-6.89,3.62 c-0.27,0.21-0.62,0.34-0.99,0.34H28.16v19.03l0.04,12.17h5.86v0c0.56,0,1.1,0.29,1.39,0.81l7.28,12.69c1.06,1.85,2,3.45,3.17,4.5 c1.1,0.99,2.54,1.6,4.76,1.66c0.83,0.02,1.63-0.12,2.38-0.43c0.46-0.19,0.92-0.45,1.37-0.78l-4.72-8.82 c-0.42-0.78-0.12-1.75,0.66-2.16c0.78-0.42,1.75-0.12,2.16,0.66l5.13,9.59c1.91,0.97,3.64,1.27,5.19,0.94 c1.42-0.31,2.76-1.16,4.02-2.54l-7.39-11.6c-0.47-0.74-0.26-1.73,0.49-2.21c0.74-0.47,1.73-0.26,2.21,0.49l7.78,12.22 c1.37,0.56,2.68,0.68,3.93,0.34c1.19-0.33,2.39-1.09,3.58-2.33l-7.05-13.28c-0.42-0.78-0.12-1.76,0.67-2.17 c0.78-0.42,1.76-0.12,2.17,0.67l7.3,13.74c0.95,0.55,2.05,0.69,3.1,0.52c0.92-0.15,1.81-0.55,2.54-1.12 c0.7-0.56,1.25-1.28,1.51-2.1c0.29-0.89,0.26-1.93-0.21-3.06L86.87,52.6L86.87,52.6z M88.99,49.82h5.34V16.3 c0-0.04,0-0.09,0.01-0.13c0-0.52,0.03-1.02,0.1-1.49L89,11.07c-0.03-0.02-0.06-0.04-0.09-0.06c-0.71-0.47-1.56-1.07-2.41-1.67 c-3.09-2.16-6.26-4.39-9.69-5.29c-1.85-0.49-3.99-0.81-6.17-0.85c-1.91-0.04-3.85,0.14-5.68,0.62c-1.09,0.28-2.15,0.67-3.13,1.19 c-0.87,0.46-1.68,1.02-2.4,1.7l-3.64,4.33c-0.11,0.22-0.27,0.4-0.46,0.55L45.29,23.55c0.15,0.76,0.45,1.4,0.86,1.92 c0.48,0.59,1.12,1.03,1.85,1.31c0.78,0.29,1.68,0.4,2.62,0.32c1.53-0.13,3.17-0.76,4.64-1.94l0,0l2.75-2.27 c0.7-0.58,1.29-1.12,1.88-1.65c1.29-1.18,2.57-2.35,3.93-3.16c3.13-1.87,6.25-1.93,9.33,3.24l0.03,0.05L88.99,49.82L88.99,49.82z M94.93,53.03h-4.27c0.58,1.69,0.55,3.29,0.09,4.71c-0.47,1.46-1.39,2.7-2.57,3.64c-1.15,0.91-2.55,1.54-4.02,1.78 c-1.43,0.24-2.93,0.11-4.33-0.47c-1.62,1.69-3.33,2.76-5.11,3.25c-1.79,0.49-3.6,0.39-5.43-0.25c-1.74,1.93-3.66,3.14-5.78,3.59 c-2.16,0.47-4.45,0.14-6.88-1c-0.76,0.59-1.55,1.06-2.38,1.4c-1.17,0.49-2.4,0.71-3.69,0.67c-3.08-0.09-5.15-1-6.8-2.48 c-1.58-1.41-2.63-3.21-3.83-5.29l-6.81-11.88h-5.28c-0.31,1.53-0.84,2.83-1.64,3.87c-1.35,1.74-3.32,2.66-6.06,2.6 c-0.03,0-0.06,0-0.09,0h-9.05c-2.28,0.37-4.23-0.19-5.76-1.96c-1.36-1.57-2.28-4.12-2.68-7.86c-0.01-0.04-0.01-0.09-0.02-0.14 l-2.38-29.5c-0.47-3.18,0.05-5.43,1.33-6.97c1.29-1.55,3.24-2.25,5.63-2.36c0.07-0.01,0.13-0.01,0.2-0.01h12.19v0.01 c2.3-0.03,4.28,0.36,5.78,1.33c1.21,0.78,2.08,1.88,2.52,3.38h9.93c2.5-1.68,4.83-3,7.41-3.81c2.54-0.79,5.25-1.07,8.5-0.68 L57,4.64c0.06-0.08,0.12-0.15,0.2-0.22c0.95-0.9,2.01-1.64,3.15-2.24c1.2-0.63,2.48-1.11,3.82-1.46C66.29,0.17,68.52-0.04,70.7,0 c2.47,0.05,4.87,0.41,6.94,0.95C81.6,2,85.02,4.39,88.34,6.72c0.74,0.52,1.48,1.04,2.36,1.62c0.03,0.02,0.06,0.04,0.09,0.06 l4.82,3.22c0.24-0.34,0.52-0.65,0.84-0.93c1.38-1.24,3.35-1.85,5.89-1.85V8.83h11.22c0.04,0,0.09,0,0.13,0.01 c2.87-0.01,5.21,0.51,6.83,1.76c1.8,1.39,2.65,3.5,2.29,6.53c0,0.03-0.01,0.05-0.01,0.08l-3.03,31.31l0,0 c-0.22,2.8-0.97,4.99-2.29,6.51c-1.41,1.62-3.36,2.42-5.92,2.31v0h-9.96h-0.01c-1.72,0.09-3.19-0.38-4.42-1.36 C96.27,55.25,95.52,54.27,94.93,53.03L94.93,53.03z M14,40.86c1.2,0,2.17,0.97,2.17,2.17c0,1.2-0.97,2.17-2.17,2.17 c-1.2,0-2.17-0.97-2.17-2.17C11.83,41.83,12.8,40.86,14,40.86L14,40.86z M108.45,40.86c1.2,0,2.17,0.97,2.17,2.17 c0,1.2-0.97,2.17-2.17,2.17c-1.2,0-2.17-0.97-2.17-2.17C106.28,41.83,107.25,40.86,108.45,40.86L108.45,40.86z M24.95,31.62 l-0.06-16.93c0-0.03,0-0.06,0-0.1c-0.17-1.06-0.63-1.77-1.31-2.21c-0.93-0.6-2.32-0.83-4.03-0.81h-0.02v0.01H7.33 c-0.02,0-0.04,0-0.06,0c-1.51,0.07-2.66,0.43-3.31,1.21c-0.7,0.83-0.94,2.27-0.61,4.5c0.01,0.05,0.01,0.09,0.01,0.14l2.38,29.53 l0,0.05c0.32,3.06,0.98,5.02,1.91,6.1c0.74,0.86,1.75,1.1,2.96,0.88c0.09-0.02,0.19-0.03,0.28-0.03v-0.01h9.15 c0.06,0,0.12,0,0.17,0.01c1.62,0.03,2.74-0.45,3.44-1.36c0.82-1.06,1.22-2.72,1.28-4.86h-0.01V31.62L24.95,31.62z M73.18,21.36 L73.18,21.36L73.18,21.36L73.18,21.36z"/></g>
      </svg>
      <h2 class="text-center pt-1 lg:pt-4 text-orange-500">Move in. Close deal</h2>
    </div>
  </div>
</div>
<!--- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
<path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
// Arrow right end on a rectangle
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
</svg>
<svg class="w-8 md:w-12 mx-auto m-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="size-6 md:size-8 mx-auto">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
</svg>
