<div class="mb-14">
  <div class="flex flex-col justify-center rounded-b-3xl bg-gradient-to-r  from-orange-100 via-slate-200 to-sky-100  sm:bg-cover  h-[400px] md:h-[600px]  md:px-60">
    <div class="lg:mx-auto lg:w-[800px] lg:text-center">
      <h1 class=" pt-10 font-semibold text-2xl sm:font-bold md:text-3xl lg:text-5xl mx-4 text-blue-700 text-pretty ">Baiti helps you <span class="text-orange-500">Find</span> Your Next Home Right From Your Gadget !</h1>
      <p class="py-3 sm:py-4 text-pretty mx-4 opacity-50">House hunting doesn't have to be stressful. Discover, compare, and secure your next home anytime, anywhere - all from the comfort of your seat.</p>
    </div>
    <div class=" w-50 mx-4 sm:mx-auto mt-4 inline-flex items-center px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition cursor-pointer">
      <span class="mr-1 ml-6">Get Started</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
      </svg>
    </div>
  </div>
  <div class="flex flex-col  sm:px-60">
    <div class="flex flex-col lg:flex-row mt-14 md:mt-18 lg:mt-26 mb-4">
      <div>
        <h2 class="pt-4 md:pt-10 font-semibold text-center md:text-start text-2xl sm:font-bold md:text-3xl lg:text-5xl mx-4"> House Hunting Made <span class="text-blue-500">Easy</span> </h2>
      </div>
      <div class="border border-neutral-300 py-1 md:py-2 px-7 inline-flex justify-between bg-gradient-to-r  from-orange-100 via-slate-200 to-sky-100 w-40 mx-auto lg:ml-[610px] lg:h-10 mt-2 lg:mt-14 rounded-full transition cursor-pointer">
        <h3 class="text-orange-500 font-semibold">Featured</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-bounce">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
        </svg>
      </div>
    </div>
    <div>
      <p class="py-2 md:py-4 text-center md:text-start mx-4 opacity-50 pb-8"> Browse a wide range of houses for rent or sale, explore different locations, and expand your options with just a few taps. No endless calls. No unnecessary visits.</p>
    </div>
    <div class="flex gap-4 md:gap-8 lg:gap-10 flex-wrap lg:flex-nowrap justify-center md:mx-4">
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "landing_home.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500 ">Nyali</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl  shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_4.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Bamburi</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_6.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Mvita</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
      <div class="mt-2 border border-neutral-200 rounded-t-2xl rounded-b-2xl shadow-2xl w-[400px] md:w-[400px] lg:w-[430px] h-[405px] md:h-[410px]">
        <%= image_tag "market_8.jpg", class:"w-full h-50 object-cover rounded-t rounded-b-xl"%>
        <h3 class="pl-1 pt-3 font-semibold text-orange-500">Buxton</h3>
        <p class="pl-1 pt-3 text-pretty opacity-50"> Well lit rooms, secure compound, and easy access to amenities</p>
      </div>
    </div>
    <div class="lg:px-3 justify-center lg:justify-start lg:mx-4 mt-10 inline-flex items-center text-2xl font-semibold text-blue-500 hover:text-orange-500 transition cursor-pointer">
      <span>See More</span>
    </div>
  </div>
  <div class="mt-14 pb-10 md:mt-18 lg:mt-26 lg-w[1000px] md:mx-20 bg-gradient-to-r from-orange-100 via-slate-200 to-orange-100 border-neutral-200 shadow-xl rounded-e-3xl">
    <h1 class="text-2xl md:text-3xl lg:text-5xl font-semibold text-blue-500 text-center  py-4 md:py-5 lg:py-6 lg:pt-10">What <span class="text-orange-500">we Offer</span></h1>
    <div>
      <div class="flex gap-8 md:gap-10 lg:gap-12 flex-wrap justify-center lg:justify-center px-5 lg:px-20 py-8 lg:py-10 lg:pb-16 ">
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 mx-auto m-3  fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
            <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Tenants</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-relaxed">
            View a variety of properties, compare options, and make informed decisions that fit your budget and lifestyle. Reach out to landlords, schedule viewings, and move one step closer to your next home.
          </p>
          <div class="mt-3  px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">View properties</li>
              <li class="custom-check">Make inquiries direct to owners</li>
              <li class="custom-check">Schedule viewing</li>
            </ul>
          </div>
        </div>
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 m-3 mx-auto fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M15.22 6.268a.75.75 0 0 1 .968-.431l5.942 2.28a.75.75 0 0 1 .431.97l-2.28 5.94a.75.75 0 1 1-1.4-.537l1.63-4.251-1.086.484a11.2 11.2 0 0 0-5.45 5.173.75.75 0 0 1-1.199.19L9 12.312l-6.22 6.22a.75.75 0 0 1-1.06-1.061l6.75-6.75a.75.75 0 0 1 1.06 0l3.606 3.606a12.695 12.695 0 0 1 5.68-4.974l1.086-.483-4.251-1.632a.75.75 0 0 1-.432-.97Z" clip-rule="evenodd" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Landlords</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-reaxed">
            List your house on our platform and reach serious tenants and buyers actively looking for their next home. Stay in control. Manage your listings, track interest, and update availability, all in one place.
          </p>
          <div class="mt-3 px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">List your properties</li>
              <li class="custom-check">Reach serious tenants/buyers</li>
              <li class="custom-check">Manage your listings</li>
            </ul>
          </div>
        </div>
        <div class="border border-blue-300 w-[400px] rounded-lg">
          <svg class="w-8 md:w-12 m-3 mx-auto fill-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" />
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" />
          </svg>
          <h1 class="py-2 md:py-3 text-center font-semibold">Investors</h1>
          <p class="text-pretty mx-2 opacity-60 pb-2 leading-relaxed">
            Reach out directly to landlords, property developers, shedule viewings, and move one step closer to your next home. Browse a wide range of houses and explore different locations all in one place.
          </p>
          <div class="mt-3 px-4 pb-2 text-orange-500">
            <ul class="list-none space-y-2">
              <li class="custom-check">View many properties</li>
              <li class="custom-check">Make inquiries direct to owners</li>
              <li class="custom-check">Schedule viewing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex items-center w-60 mx-auto mt-4 px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition cursor-pointer">
        <span class="mr-1 ml-6">Create Account</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
        </svg>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 ">
    <%= image_tag "for_rent.jpg", class:"w-[400px] lg:w-[500px] h-[300px] mt-14 lg:mt-48 lg:ml-50 bg-cover shadow-5xl "%>
    <div class="flex flex-col w-[400px] h-[400px] lg:w-[600px] lg:h-[700px] border border-neutral-400 pt-8 lg:mt-16 lg:ml-96">
      <div class="flex flex-row gap-10">
        <div class="border border-orange-500 py-2 px-2">
          <h3>VIEW PROPERTIES</h3>
        </div>
        <div class="border border-blue-500 py-2 px-2">
          <h3>CREATE ACCOUNT</h3>
        </div>
      </div>
      <div>
        <h2 class="text-2xl md:text-3xl lg:text-5xl font-semibold  py-4 md:py-5 lg:py-6 lg:pt-10">Finding a Home Should be Stress-<span class="text-blue-500">FREE</span></h2>
        <p class="text-pretty leading-relaxed opacity-60 pb-2">
          Join Baiti and experience a smarter, simpler way to house hunt. Whether you’re a tenant searching for the perfect home, a landlord listing your property, or an investor managing multiple units, Baiti brings everything together in one reliable platform—making property discovery, communication, and management fast, secure, and hassle-free.
        </p>
      </div>
    </div>
  </div>
</div>
<!--- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
<path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
// Arrow right end on a rectangle
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
</svg>
