<!-- app/views/admin/properties/index.html.erb -->
<div class="mt-18">
  <h1 class="text-2xl font-bold mb-4">Pending Properties</h1>
</div>
<div class="mb-50">
  <% if @properties.any? %>
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">Title</th>
          <th class="py-2 px-4 border-b">Landlord</th>
          <th class="py-2 px-4 border-b">Location</th>
          <th class="py-2 px-4 border-b">Price</th>
          <th class="py-2 px-4 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td class="py-2 px-4 border-b"><%= property.title %></td>
            <td class="py-2 px-4 border-b"><%= property.user.email %></td>
            <td class="py-2 px-4 border-b"><%= property.location %></td>
            <td class="py-2 px-4 border-b"><%= number_to_currency(property.price) %></td>
            <td class="py-2 px-4 border-b">
              <%= link_to "Approve", approve_admin_property_path(property), data: { turbo_method: :patch }, class: "bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No pending properties found.</p>
  <% end %>
</div>
